.navbar{

    background-color: antiquewhite;
    margin: 0 auto;
    width: 90%;
    height: 50px;
}

.navbar_ul{

    
    display: flex;
    flex-direction: row;
}

.navbar_li{

    margin: 2px;
    list-style: none;
    cursor: pointer;
}

.navbar_li:hover{
    background-color: aquamarine;
}